


<div class="controllers">
    <mat-slide-toggle [(ngModel)]="isChecked">Send manager</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="uploadRecords">Upload</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="setRelationships">Match</mat-slide-toggle>
</div>

<app-loader *ngIf="loading"></app-loader> <!-- Mostrar el loader -->
<!-- <app-counter [activateCounter]="activateCounter"></app-counter> -->


<div class="container">
    <h2>Cargar Archivo CSV</h2>
    <input type="file" (change)="onFileChange($event)" accept=".csv" />
</div>

<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>ApiName</mat-label>
            <input matInput formControlName="name" placeholder="ej.Leads" />
            <mat-error *ngIf="form.get('name')?.hasError('required')">El ApiName es obligatorio</mat-error>
        </mat-form-field>


    
        <button *ngIf="form.valid" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            ¡Let's Update Data! 🚀
        </button>
        <button *ngIf="form.invalid" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            ¿Que módulo quieres actualizar? 🤔
        </button>
    </form>
</div>
<div class="process">
    <h3 *ngIf="loading">Procesando</h3>
</div>
<!-- Barra de progreso -->

<!-- Barra de progreso para launchData -->
<div class="progress-container">
    <div class="progress-bar" [ngStyle]="{ 'width': progressLaunch + '%' }"></div>
    </div>
    <p>Progreso de enviar datos: {{ progressLaunch | number: '1.0-0' }}%</p>
    
    <!-- Barra de progreso para uploadZohoIDs -->
    <div class="progress-container">
        <div class="progress-bar" [ngStyle]="{ 'width': progressUpload + '%' }"></div>
    </div>
    <p>Progreso de relacionar módulo: {{ progressUpload | number: '1.0-0' }}%</p>
    

<div class="encode">
    
    <p>Encoded with squids:{{this.encodesquids}}</p>
</div>

<div class="datamodel" *ngIf="csvRecords.length > 0">
    <pre>data:[ 
{{  csvRecords[1] | json }}
        ]</pre>
</div>