    .sidenav-container {
        height: 100%;
    }
    
    .custom-toolbar {
        background-color: #08872a; /* Color del fondo del toolbar */
        color: white;
        padding: 0 16px;
        display: flex;
        justify-content: space-between; /* Asegura que los elementos se distribuyan correctamente */
        align-items: center; /* Centra los elementos verticalmente */
    }
    
    .custom-icon-round {
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.3s;
        width: 40px; /* Ajusta el tamaño del botón */
        height: 40px; /* Ajusta el tamaño del botón */
        display: flex;
        justify-content: center; /* Centra el ícono horizontalmente */
        align-items: center; /* Centra el ícono verticalmente */
    }
    
    .custom-icon {
        color: #2196f3; /* Color del ícono */
        font-size: 24px; /* Ajusta el tamaño del ícono */
        transition: transform 0.2s;
    }
    
    /* Efecto cuando el ícono es presionado o el mouse pasa sobre el ícono */
    .custom-icon-round:hover {
        background-color: #f0f0f0; /* Fondo al pasar el ratón */
        transform: scale(1.1); /* Aumenta ligeramente el tamaño al hacer hover */
    }
    
    .custom-icon-round:active {
        background-color: #e1e1e1; /* Fondo cuando se hace clic */
    }
    .custom-icon-round{
        margin-right: 1em;
    }
    
    .toolbar-spacer {
        flex: 1 1 auto;
    }
    
    mat-sidenav {
        width: 250px;
    }
    
    mat-sidenav-content {
        padding: 20px;
    }
    